<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>fronttoback</name>
	<displayName><![CDATA[Front To Back Link]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[This module add a button for direct access to the product modification page in Backoffice]]></description>
	<author><![CDATA[Fabio Perrone]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
